<h2>JS Framework versions</h2>
<dl>
  <dt>BigBird</dt>
  <dd data-bb-el="bigbird-version"></dd>
  <dt>jQuery</dt>
  <dd data-bb-el="jquery-version"></dd>
  <dt>Modernizr</dt>
  <dd data-bb-el="modernizr-version"></dd>
</dl>
<p><button class="js-button">Click me</button></p>