@import 'bourbon';
@import 'normalize';


body {
  background-color: #333;
  color: #ededed;
}

.message {
  max-width: 500px;
  margin: 0.5em auto;
  text-align: center;
}

h1 {
  text-align: center;
}

article {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
}

section {
  border-radius: 1em;
  padding: 1em;
  background-color: #540154;
  .rgba & {
    background-color: rgba(255,4,255,0.2d);
  }
}

button {
  color: #333;
  padding: .5em 1em .3em;
  text-transform: uppercase;
  border-radius: 1em;
  border: none;
}

dl {
  overflow: hidden;
  line-height: 1.3;
  dt {
    float: left;
    clear: left;
    &::after {
      content: ": ";
      margin-right: 0.5em;
    }
  }
}

footer {
  line-height: 2;
  font-size: 0.865em;
  color: #666;
  text-align: center;
  a {
    color: inherit;
  }
}
